.loader {
  background-color: #1d1b1b;
  opacity: 1;
  height: 100vh;
  inset: 0;
  position: fixed;
  z-index: 10000;
  -webkit-animation: disappear 200ms 2s forwards;
          animation: disappear 200ms 2s forwards;
}

.loader__logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
    z-index: 10;
  }
  99% {
    opacity: 0;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    z-index: 10;
  }
  99% {
    opacity: 0;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #1d1b1b;
}

h1 {
  font-size: 5em;
  margin: 0;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: #1d1b1b;
  background-color: white;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}

h1 {
  font-size: 6em;
}

p {
  font-size: 1em;
}

.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

#toggle {
  position: absolute;
  display: block;
  width: 60px;
  height: 30px;
  border-radius: 160px;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  -webkit-box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1), inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 8px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1), inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 8px rgba(0, 0, 0, 0.05);
  z-index: 100;
  right: 20px;
  top: 20px;
}

#toggle.active-2 {
  background: #222;
  -webkit-box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: -webkit-gradient(linear, bottom #eaeaea, from(#f9f9f9));
  background: linear-gradient(to bottom #eaeaea, #f9f9f9);
  border-radius: 50%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#toggle.active-2 .indicator {
  left: 30px;
  background: -webkit-gradient(linear, bottom #444, from(#222));
  background: linear-gradient(to bottom #444, #222);
  -webkit-box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2);
}

body.active-2 {
  background-color: black;
}

.hamburger {
  position: fixed;
  display: none;
  cursor: pointer;
  width: 20rem;
  z-index: 99;
  padding-left: 45rem;
  padding-top: 1rem;
}

.bar {
  display: block;
  height: 10px;
  margin: 10px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  mix-blend-mode: difference;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
}

.section-0 {
  background-color: black;
}

.section-0 h1 {
  color: white;
}

.section-0 .showreel {
  width: 100%;
  height: 100vh;
}

svg {
  position: absolute;
  width: 8rem;
  left: 2rem;
  top: 1rem;
  z-index: 100;
  fill: white;
  mix-blend-mode: difference;
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-1 .infos__container {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12rem;
}

.section-1 .infos__container__photo {
  width: 25rem;
  z-index: 10;
}

.section-1 .infos__container__photo img {
  width: 100%;
}

.section-1 .infos__container__texte {
  width: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: justify;
}

.section-1 .infos__container__texte h2 {
  font-size: 2rem;
  font-weight: bold;
}

.section-1 .infos__container__texte .lastName {
  margin-top: -20px;
}

.section-1 .infos__container__texte .decoration__line {
  border-top: solid 5px;
  width: 34rem;
  margin-left: -12rem;
}

.section-1 .infos__container__texte p {
  color: #1d1b1b;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide .realisations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
}

.slide .realisations__container {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.slide .realisations__container__picture {
  width: 17rem;
  margin: 20px;
  cursor: pointer;
}

.slide .realisations__container__picture img {
  width: 100%;
}

.slide .realisations__container__picture__title {
  border-left: solid 5px;
  margin-top: -6px;
  height: 50px;
  text-align: start;
}

.slide .realisations__container__picture__title h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 8px 0px 0px 20px;
}

.slide .realisations__container a {
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  color: black;
}

.modal {
  background-color: white;
  opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 85%;
  margin: auto;
}

.modal-close {
  cursor: pointer;
  text-align: end;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  z-index: 100;
}

.modal-header {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: black;
}

.modal-body {
  border-left: 5px solid black;
  text-align: start;
  height: 30%;
  overflow-y: auto;
}

.modal-body h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
}

.modal-body p {
  padding: 0 20px 0 20px;
}

@media (max-width: 990px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar-2 {
    opacity: 0;
  }
  .hamburger.active .bar-1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .hamburger.active .bar-3 {
    -webkit-transform: translateY(27px) translateX(-45px) rotate(-45deg);
            transform: translateY(27px) translateX(-45px) rotate(-45deg);
  }
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 0;
    top: -100%;
    gap: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #1d1b1b;
    width: 100%;
    height: 100%;
    text-align: center;
    mix-blend-mode: normal;
    font-size: 3rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #menu li {
    margin: 5rem 0;
  }
  #menu.active {
    top: 0;
  }
  .section-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-1 .infos__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10rem;
    width: 100%;
  }
  .section-1 .infos__container__photo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    width: 30rem;
    height: 30rem;
    margin-bottom: -5rem;
  }
  .section-1 .infos__container__photo img {
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
  }
  .section-1 .infos__container__texte {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 70%;
    font-size: 1.7rem;
  }
  .section-1 .infos__container__texte .firstName {
    font-size: 4rem;
  }
  .section-1 .infos__container__texte .lastName {
    font-size: 4rem;
    margin-top: -40px;
  }
  .section-2 .realisations__container {
    width: 80%;
    height: 80%;
  }
  .section-2 .realisations__container__picture {
    width: 20rem;
  }
  .modal-content {
    width: 90%;
    margin-top: 10rem;
  }
  .modal-header {
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: black;
  }
}
