.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.section-0 {
  background-color: #1d1b1b;
}

.section-0 h1 {
  color: white;
}

svg {
  position: absolute;
  width: 8rem;
  left: 2rem;
  top: 1rem;
  z-index: 100;
  fill: white;
  mix-blend-mode: difference;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 60px;
  margin-top: -13rem;
}

.header__nav a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 0 0 50px;
  font-size: 20px;
}

.showreel {
  top: 0;
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-1 .infos__container {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12rem;
}

.section-1 .infos__container__photo {
  width: 25rem;
  z-index: 10;
}

.section-1 .infos__container__photo img {
  width: 100%;
}

.section-1 .infos__container__texte {
  width: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.section-1 .infos__container__texte h2 {
  font-size: 2rem;
  font-weight: bold;
}

.section-1 .infos__container__texte .lastName {
  margin-top: -20px;
}

.section-1 .infos__container__texte .decoration__line {
  border-top: solid 5px;
  width: 34rem;
  margin-left: -12rem;
}

.section-1 .infos__container__texte p {
  color: #1d1b1b;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide .realisations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide .realisations__container {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.slide .realisations__container__picture {
  width: 20rem;
  margin: 20px;
  cursor: pointer;
}

.slide .realisations__container__picture img {
  width: 100%;
}

.slide .realisations__container__picture__title {
  border-left: solid 5px;
  margin-top: -6px;
  height: 50px;
  text-align: start;
}

.slide .realisations__container__picture__title h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 8px 0px 0px 20px;
}

.slide .realisations__container a {
  text-decoration: none;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  text-transform: uppercase;
  color: black;
}

.modal {
  background-color: white;
  opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 85%;
  margin: auto;
}

.modal-close {
  cursor: pointer;
  text-align: end;
  padding-right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.modal-header {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: black;
}

.modal-body {
  border-left: 5px solid black;
  text-align: start;
  height: 30%;
  overflow-y: auto;
}

.modal-body h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
}

.modal-body p {
  padding: 0 20px 0 20px;
}
