@media (max-width: 990px){

    .hamburger{
        display: block;
    }
    
    // .hamburger.active .bar::nth-child(2){
    //     opacity: 0;
    // }

    // .hamburger.active .bar::nth-child(1){
    //     transform: translateY(8px) rotate(45deg);
    // }

    // .hamburger.active .bar::nth-child(3){
    //     transform: translateY(-8px) rotate(-45deg);
    // }

    .hamburger.active .bar-2{
        opacity: 0;
    }

    .hamburger.active .bar-1{
        transform:  rotate(45deg);
    }

    .hamburger.active .bar-3{
        transform: translateY(27px) translateX(-45px) rotate(-45deg);
    }

    #menu{
        display: flex;
        position:fixed;
        left: -100%;
        top: 0;
        gap: 10;
        flex-direction: column;
        background-color: rgba(29, 27, 27, 1);
        width: 100%;
        height: 100%;
        text-align: center;
        mix-blend-mode: normal;
        font-size: 3rem;
        transition: 0.3s;
        
        li{
            margin: 5rem 0;
        }
    }

    #menu.active{
        left: 0;
    }

    .section-1{
        display: flex;
        flex-direction: column;
    .infos__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10rem;
        width: 100%;

        &__photo{
            align-self: center;
            width: 50%;
            object-fit: cover;
            overflow: hidden;
            // border-radius: 50%;
            width: 30rem;
            height: 30rem;
            margin-bottom: -5rem;
            
        

            img{
                object-fit: cover;
                overflow: hidden;
                
                
            }
        }

        &__texte{
            align-self: center;
            width: 70%;
            font-size: 1.7rem;

            .firstName{
                font-size: 4rem;
            }

            .lastName{
                font-size: 4rem;
                margin-top: -40px;
            }
        }
    }
}

.section-2{
    .realisations__container{
        width: 80%;
        height: 80%;
        &__picture{
            width: 20rem;
            
        }
    }
}

.modal-content{
    width: 90%;
    margin-top: 10rem
}

.modal-header{
    
    height: 40%;
    display: flex;
    justify-content: flex-start;
    background-color: black;

}
}

