/* .section{ */
	/* text-align:center; */
/* } */

.section-2{
	text-align: center;
}
#menu{
	color: white;
	mix-blend-mode: difference;
	gap: 5rem;
	position:fixed;
	top:20px;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	display: flex;
      justify-content: center;
}
#menu li {
	display:inline-block;
	align-self: center;
	margin: 10px;
	color: white;
	mix-blend-mode: difference;
}
#menu li.active{
	color: white;
	mix-blend-mode: difference;
}
#menu li a{
	text-decoration:none;
	color: white;
	mix-blend-mode: difference;
}
#menu li.active a:hover{
	/* color: #000; */
}
#menu li:hover{
	/* background: rgba(255,255,255, 0.8); */
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}

/* #menu li a:hover{
	border-top: solid 3px white;
	border-left: solid 3px white;
} */

#menu li.active a{
	border-bottom: solid 3px white;
	animation: animate linear 0.5s forwards;
}

@keyframes animate{
    0%{
        width: 0%;
        border-bottom: transparent;
    }

    50%{
        width: 0%;
        border-bottom: solid 3px white;
    }

    100%{
        width: 75%;
        border-bottom: solid 3px white;
    }
}



/* h1{
	font-size: 5em;
	margin:0;
} */
.section p,
.intro p{
	color: #1d1b1b;
}
